html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: aliceblue;
    color: crimson
}

table, th, td {
    border: none;
    text-align: center;
    margin-bottom: 10px;
    padding: 4px;
}
th {
    background-color: WhiteSmoke;
    color: DarkSlateGray;
    border: 0.5px solid;
}
td {
    border: 0.5px solid;
    border-color: lightslategrey;
    background-color: GhostWhite;
    color: DarkSlateGray;
}
td input {
        box-sizing: border-box;
        display: inline-block;
        width: 95%;
        border:0.5px inset;
        margin:0.5px;
        background-color:aliceblue;
        text-align:center;
    }

th input {
    box-sizing: border-box;
    display: inline-block;
    width: 95%;
    border: 0.5px outset;
    margin: 0.5px;
    background-color: lightblue;
    color:crimson;
    text-align: center;
}

.inner-tbl td {
    border: 0.5px none;    
}

.subheader {
    background-color: crimson;
    padding: 8px;
    color: White;
}

a {
    color: dodgerblue;
    padding: 8px;    
}

    a:active {
        color: dodgerblue
    }

    a:link {
        color: dodgerblue
    }

    a:visited {
        color: dodgerblue
    }

    a:hover {
        color: palevioletred
    }


    a.sub-header {
        color: snow;
        padding: 8px;
        text-decoration: none;
    }
        a.sub-header:active {
            color: snow;
        }
        a.sub-header:link {
            color: snow;
        }
        a.sub-header:visited {
            color: snow;
        }
        a.sub-header:hover {
            color: cornflowerblue;
        }
    a.tab-header {
        color: black;
        padding: 8px;
        text-decoration: none;
    }

        a.tab-header:active {
            color: crimson;
        }

        a.tab-header:link {
            color: black;
        }

        a.tab-header:visited {
            color: black;
        }

        a.tab-header:hover {
            color: cornflowerblue;
        }

.in_text a {
        color: black;
        padding: 8px;
        text-decoration: none;
    }
.in_text a:visited {
    color: Navy;
}

    .in_text a:active {
        color: Navy;
    }

    .in_text a:link {
        color: Navy;
    }

    .in_text a:visited {
        color: Navy;
    }

.in_text a:hover {
        color: deeppink;
    }

.navbar-collapse {
    background-color: DarkSlateGray;
}

.nav-link {
    background-color: transparent;
}

table.browse {
    background-color: aliceblue;
    border: 0px none;
}
th.browse {
    vertical-align: text-top;
    text-align: left;
    background-color: aliceblue;
    border: 0px none;
}
td.browse {
    vertical-align: text-top;
    text-align: left;
    background-color: aliceblue;
    border: 0px none;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

