html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: PowderBlue;
    color: crimson
}

table, th, td {
    border: 1px solid;
    text-align: center;
    margin-bottom: 10px;
    padding: 4px;
}
th {
    background-color:Crimson;
    color: AliceBlue;
}