html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: honeydew;
    color: crimson
}

table, th, td {
    border: none;
    text-align: center;
    margin-bottom: 10px;
    padding: 4px;
}
th {
    background-color: WhiteSmoke;
    color: DarkSlateGray;
    border: 0.5px solid;
}
td {
    border: 0.5px solid;
    background-color: GhostWhite;
    color: DarkSlateGray;
}

.navbar-collapse {
    background-color: DarkSlateGray;
}

.nav-link {
    background-color: transparent;
}

