@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Leucippus Electron Density Web Application</h1>
    <p>Display and browse electron density from ccp4</p>
</div>
