
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>
    Created by <a href="mailto:r.alcraft@ucl.ac.uk">Rachel Alcraft</a>.<br>
    Supervisor <a href="http://people.cryst.bbk.ac.uk/~ubcg66a/">Mark A. Williams</a><br />
    Birkbeck, University of London, Malet St, London WC1E 7HX, UK <br />    
</p>

<hr/>
<h3>
    Funding...
</h3>

