@{
    ViewData["Title"] = "View Electron Density";
}
@model Leucippus.Models.ViewBagMatrix;

<h1>@ViewData["Title"]</h1>

<form method="post">
    Enter ccp4/pdb code:
    <input asp-for="PdbCode" style="width:160px;height:20px" value="@ViewBag.PdbCode"/>
    <br />
    Enter xyz coordinates:
    <input type="range" min="1" max="100" value="50">
    
    <input type="submit" />
</form>

<hr />
<p>Explain Electron Density - dimensions and features</p>
<p>@ViewBag.Info</p>
<hr />
<div>
    @{        
        // Display one chart only
        @:@Html.Raw(ViewBag.Viewer.RenderHTML())        
    }
</div>

