
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Help</h1>

<p>
    Some instructions on how to use it, including a video.
</p>
<p>
    Perhaps also some pre-determined views that replicate some papaers where I have found problems.
</p>

<a id="motif-finder">
    <p>How to find motifs</p>
</a>

