@{
    ViewData["Title"] = "Home Page";
}




<div class="text-left">
    <h1>Leucippus</h1>
    <p>An application to explore electron density in x-ray crystal structures and cryo-EM structures</p>
    <hr />
    <h3>Leucippus, the electron density application</h3>
    <p>
        This application faciliates the exploration of the electron density of x-ray and cryo-EM structures, exploring the 3d matrices of their electron distributions.
        <br/> The application displays contour plots through the matrix to see the distributions of electrons in chosen positions. You can select either xyz coorinates in space or residues/atoms to explore.
    </p>            
    <hr/>
    <h3>Leucippus, the Greek Philosopher</h3>
    <p>
        Leucippus, a pre-Socratic Greek philosopher, is considered to be the first philosopher to develop the theory of <i>atomism</i>. 
        <br />Atomism is a natural philosphpy that proposes that the physical universe is made up of indivisible components called atoms. 
        Between atoms there is <i>void</i>, which is the possible space that atoms can (or do) occupy. 
        <br />Leucippus' student, Democritus, gained far more fame both then and now. Leucippus' work is known through the writings of Democritus.
        

        <br />Information taken from <a href="https://en.wikipedia.org/wiki/Leucippus">Wikipedia</a> <a href="https://plato.stanford.edu/entries/atomism-ancient/#LeucDemo">Stanford</a>
    </p>
    <hr />
    <h3>Some examples from the literature</h3>
    <a href="~/docs/LeucippusExamples.pdf" target="_blank">Leucippus Examples</a>
    
    <hr/>
</div>
    

