@{
    ViewData["Title"] = "View Electron Density";
}

<div style="font:bold 18pt verdana;">
    @ViewBag.Title
</div>
<hr style="border:solid 1px #000080; background:#000080" />
<div>
    @{        
        // Display one chart only
        @:@Html.Raw(ViewBag.Viewer.RenderHTML())        
    }
</div>