@{
    ViewBag.Title = "Veracity Fable";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        I started Veracity Fable after 14 years working as a computer programmer in investment banking. I wanted something..."more". And to spend more time with my young children, two girls aged 5 and 3 at the time.
    </p>

    <p>
        Much of the time so far has been spent looking at what is out there, reviewing technology and platforms, particularly open source (I no longer have a banking budget!) versus, gulp, Azure and Xamarin. 
    </p>

    <p>
        Having children, I have an almost unavoidable interest in how children use computers and learn about them. That said we have strictly limited computer use in our house - the girls earn Moshi points at a rate of 5 minutes a night if they go to sleep nicely. They can spend it at the weekends navigating Moshi World only after homework is done!
    </p>

    <p>
        I also have a small bee in my bonnet about how software projects tend to, well, fail.
        I started life in customer support and testing, wondered why everything I had to deliver to my customers was flawed, became a programmer myself, and ended up nailing it - delivering first class tier 1 globally used risk systems.
        This gave me a glimpse into the murky pond that is changing user requirements, management uncertainty, just wanting everyone to get on with it, lack of expertise, communication and complexity.
    </p>
    <p>Since a very young age I have always loved logic. I love code and algorithms! And my 6 year old already wants to be a code breaker (but a good one, you know, not a baddie). But even more, I love the idea that communication and collaboration and project management and an understanding of the software process can create projects that don't fail. At what age should we start learning these things? Or perhaps when <b>can</b> we start learning these things? Or how? Let's find out.</p>
</article>

