@{
    ViewBag.Title = "Veracity Fable";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">All enquiries:</span>
        <span><a href="mailto:rachel@veracityfable.com">rachel@veracityfable.com</a></span>
    </p>  
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Newington Green<br />
        London, UK
    </p>
</section>