@{
    ViewBag.Title = "Veracity Fable";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h3>Academic Research</h3>
<p>Leucippus</p>

<h3>Side Projects</h3>
<p>School Allocator</p>




