@{
    ViewBag.Title = "TheProject";
}

<h1>The Veracity Fable Project</h1>
<p><b>
The Veracity Fable Project is a not-for-profit arm of Veracity Fable that aims to bring the excitement and mind expanding wonderment of computer programming and technology to children and adults through training.
</b></p>
<p>
The Veracity Fable Project works through charities such as <a href="http://www.stemnet.org.uk/">STEMNET</a> and <a href="https://www.codeclub.org.uk/">CodeClub</a> to take free training programmes into schools.
</p>
<p>
The Veracity Fable Project also runs subsidised code training for both children, adults, and a parent-child training day called Attack-An-App that aims for a parent and child to share their separate understanding of technology with each other and build something together.
</p>
<p>
I have been working in the software industry since 1996, through a variety of software roles in banking: from testing, specifications and business analysis; through to developing financial analytics libraries; through to developing and managing a tier 1, 24-7 global risk system; and back down again to having kids and being a more relaxed software developer. Throughout my career I have programmed in c++, c#, excel and vb, java and html and javascript, I have used predominately windows and tinkered with macs. 
</p>
<p>
I remember a time before computers, I started work without email! I remember a time before mobile phones and my first one in 1997, which was also around the time I discovered Amazon and internet shopping. For those of you who are technophobes, my path to programming computers is not technophilia, I just like to get things done. With computers, you can DO things.
</p>
<p>
As a woman in a very male-dominated industry, I have an empathy with those who may feel excluded and a special interest in ensuring that no one really is excluded and that this new world is accessible to everyone.
</p>
<p>
Examples of workshops and a guide to prices are below. Experience tells me that the best workshop size has a maximum of 8 – 4 pairs. This allows a good level of attention from me, and also they can be so much fun that the noise level needs to be capped here!
</p>
<p style="color:red">
   Please <a href="mailto:rachel@veracityfable.com">contact me</a> if you are interested in attending any courses and I can supply dates. 
</p>
<canvas id="myCanvas" width="500" height="1" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<p>
<b>Code Club</b><br/>
Run as a weekly after school club in primary schools, this is a programme that teaches first Scratch, a visual programming language, and then moves on to html and python. <br/>
<b>Cost:</b> This is a charitable endeavour<br/>
<b>Location:</b> In primary schools
</p>
<canvas id="myCanvas" width="500" height="1" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<p>
<b>School Sessions</b><br/>
On a fee basis I also run sessions in schools. This can be on any topic and I would be happy to advise on the appropriate sessions depending on age and experience. Sessions may be a taster workshop on scratch, or a series of scratch workshops, or they may be python or android app development for older children, or html and javascript. Run as either 1 off sessions, a course, or a day school visit running either multiple workshops or a day-long session. <br/>
<b>Cost:</b> £50 per hour, or £200 for a whole day<br/>
<b>Location:</b> In school
</p>
<canvas id="myCanvas" width="500" height="1" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<p>
<b>Senior Surfers</b><br/>
This is a bespoke 1-1 training session aimed at those over 55 who want some help with technology. It covers anything from how to do the weekly online grocery shop, to setting up wifi, to using technology to keep in touch with relatives, to choosing the best portable device, to anything else! Free phone consultation or initial café meeting to discuss. <br/>
<b>Cost:</b> £20 per hour<br/>
<b>Location:</b> Newington Green studio or your home
</p>
<canvas id="myCanvas" width="500" height="1" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<p>
<b>Attack-An-App!</b><br/>
This is a day-long workshop for a parent-child pair in which you will design and create an android app. A requirement is to have and bring along your own android device: phone or tablet. We will use MIT App Inventor to create an android app in a day and your will have an exciting opportunity to brainstorm and create together. <br/>
<b>Cost:</b> £150 per child-parent pair<br/>
<b>Location:</b> Newington Green studio
</p>
<canvas id="myCanvas" width="500" height="1" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<p>
<b>Code Groups</b><br/>
I run coding groups after school for an hour a week – 4 children maximum, 2 children minimum. This will follow a plan depending on the age and interests of the children. Ideas would be following the scratch curriculum, or developing an app. It may be a group who would like to create something together, or a group who want to work solo. Please get in touch either as a ready formed group, or as an individual who would like to join a group (this would be subject to matching up age and interest).<br/>
<b>Cost:</b> £10 per child<br/>
<b>Location:</b> Newington Green studio
</p>
<canvas id="myCanvas" width="500" height="1" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<p>
<b>Tutoring and Bespoke</b><br/>
For anyone who would like 1-1 tutoring either for academic advancement in the computer curriculum, or for personal advancement (either training, or to develop a particular piece of software), I can run 1-1 or small group tutoring sessions. These take place in my Newington Green studio.  Speak to me about your requirements for this and we can work out a plan. Each session is 20 pounds per person per hour.<br/>
<b>Cost:</b> £20 for one person, £10 pounds per person for more than one<br/>
<b>Location:</b> Newington Green studio
</p>
<canvas id="myCanvas" width="500" height="1" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<p>
<i>My studio is on the lower ground floor of my home in Newington Green. There are a plethora of cafes and a playground and green space nearby. <br />
    For any day-long courses I recommend you take a break from the house at lunch time and go to out to the green for lunch.<br/>
    For kids' hour-long session’s parents are welcome to either stay and have a cup of tea or leave for the duration.
</i>
</p>

<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script>
function initialize()
{
var mapOpt = {
  center:new google.maps.LatLng(51.551649,-0.087496),
  zoom:15,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap"),mapOpt);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="googleMap" style="width:350px;height:280px;"></div>


