@{
    ViewBag.Title = "TheStudio";
}

<h3>Here are some exciting projects we are working on:</h3>
<ol class="round">
    <li class="one">
        <h5>Code Pond</h5>
        Code Pond is the exciting place to go fishing for code and software games and activities, see dip in here!
        <a href="http://www.codepond.veracityfable.com">Code Pond</a>
    </li>

    <li class="two">
        <h5>School Allo Algo</h5>
        The School Allo Algo is an effort to create a fairer algorithm to allocate school places, please click on the link below to try it out:
        <!--<a>@Html.ActionLink("Allo Algo", "Index", "AlloAlgo")</a>-->
    </li>

    <li class="three">
        <h5>Geneology Genie</h5>
        Geneology Genie displays family relationshiops pictorially, please click on the link below to try it out:
        <!--<a>@Html.ActionLink("Geneology Genie", "Index", "Genie")</a>-->
    </li>
        
    <li class="four">
        <h5>Pipeline Projects</h5>
        <p>Wordsearch</p>        
        <p>Codebreak</p>       
    </li>    

    <li class="five">
        <h5>Contracted Projects</h5>
        <p>Please contact <a href="mailto:rachel@veracityfable.com">Rachel</a> if you have any projects you would like help on, particularly in the areas of C#, ASP.NET, WPF, android apps, windows phone and store apps.</p>   
        <p>We can help you design spec develop code test release and maintain. </p>     
        
    </li>    
    
</ol>
