@model VeracityFable.Models.SchoolModel

@{
    ViewBag.Title = "Index";
}

<h2>School Allo Algo</h2>
<p>
There is always a raging debate on the fairness of school places and the allocation of them and I am not going to add anything to that debate. It's clearly a bit ridiculous and the answer is not obvious. 
</P>
<p>
Where I live in a forgotten corner of Islington there are 14 Islington primary schools within a mile of me, and 5 Hackney primary schools. 
Some of these schools are excellent, some not. All are what I could reasonably describe as local, within my community and the all important, walking distance.
Some of them are on estates of some kind - middle class enclaves or housing estates. These have hugely skewed intakes based on the distance criteria.
    </p>
<p>This is quite clearly not really fair, and just a bit silly. Imagining coming across the world for a better life and finding that your child doesn't mix with other children in the area that live 300m away, but only with other children from similar circumstances. What a missed opportunity for our children to learn from each other.</p>
<p>
As I say I'm not adding to the debate, I'm just putting out there a little algorithm to do a slightly fairer allocation.</p>
<p>
<b> It's simply this:</b> within a certian radius of a school places are randomly allocated. Thus, everyone is still walking distance from their school and still local and in their community, but we mix it up a bit.</p>
</p>

<h3>Try the AlloAlgo</h3>

   <li>@Html.ActionLink("AlloAlgo", "AlloAlgoForm", "AlloAlgo")</li>